<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <title>GetNet API</title>
  </head>
  <body>
    <h1>O servidor está ativo na porta 8080</h1>
    <div class="link">
      <a
        href="http://localhost:8080/api/credit?payment_type=credit&customer_id=0d982d8f-d36e-474c-b233-37039d587f23&order_id=DEV-1598272595&payment_id=3fc70e99-cc9b-489d-a8a9-04b5e6e623b0&amount=846&status=APPROVED&number_installments=1&acquirer_transaction_id=000099713751&authorization_timestamp=2020-08-24T12%3A36%3A41.000Z&brand=visa&terminal_nsu=031575&authorization_code=9190383360902371"
        >GO TO PAGE</a
      >
    </div>
  </body>
</html>
